# Fish
fishd.*
stow/shell/.config/configstore
stow/shell/.config/fish/completions
stow/shell/.config/fish/conf.d
stow/shell/.config/fish/functions
stow/shell/.config/fish/fish_variables
stow/shell/.config/fisher/github.com
stow/shell/.config/yarn

# SSH work
dotfiles/ssh.work/.ssh/*
!dotfiles/ssh.work/.ssh/config

# AWS personal
dotfiles/aws.personal/.aws/credentials
