# Fish
fishd.*
dotfiles/fish/.config/configstore
dotfiles/fish/.config/fish/completions
dotfiles/fish/.config/fish/conf.d
dotfiles/fish/.config/fish/functions
dotfiles/fish/.config/fisher/github.com
dotfiles/fish/.config/yarn

# SSH work
dotfiles/ssh.work/.ssh/*
!dotfiles/ssh.work/.ssh/config

# SSH personal
dotfiles/ssh.personal/.ssh/*
!dotfiles/ssh.personal/.ssh/config
