astroid==2.0.4
awslogs==0.11.0
boto3==1.9.187
botocore==1.12.187
docutils==0.14
dodgy==0.1.9
isort==4.3.20
jmespath==0.9.4
lazy-object-proxy==1.4.1
mccabe==0.6.1
pep8-naming==0.4.1
prospector==1.1.6.2
pycodestyle==2.4.0
pydocstyle==3.0.0
pyflakes==1.6.0
pylint==2.1.1
pylint-celery==0.3
pylint-django==2.0.2
pylint-flask==0.5
pylint-plugin-utils==0.5
python-dateutil==2.8.0
PyYAML==5.1.1
requirements-detector==0.6
s3transfer==0.2.1
setoptconf==0.2.0
six==1.12.0
snowballstemmer==1.2.1
termcolor==1.1.0
urllib3==1.25.3
wrapt==1.11.2
